.productos {
  padding: 20px;
}

.productos h2 {
  color: #5c6ac4;
}

.productos h3 {
  font-size: 20px;
}

.productos ul {
  list-style-type: none;
  /* padding: 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  gap: 10px;
}

.productos li {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.productos img {
  width: 250px;
  height: auto;
  /* margin-right: 20px;*/
}

.productos button {
  /* padding: 10px; */
  /* font-size: 16px; */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productos button:hover {
  background-color: #0056b3;
}

.detallitos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productos {
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* El resto de tus estilos */

.producto-sin-stock {
  filter: grayscale(100%);
  pointer-events: none;
  opacity: 0.6;
}
