@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');


.ventas {
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../../assets/Navidad.H.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.ventas h2 {
  display: table;
  color: #fff;
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin: 11px;
}

.ventas .form-control.input-corto {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}


.ventas .form-group {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  color: #333;
}

.card-text {
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
}

.alert-success {
  margin-bottom: 20px;
  color: green;
}

@media (max-width: 768px) {
  .ventas {
    padding: 1rem;
    background-image: url('../../assets/Navida.V.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }}