.home {
  padding: 5px;
  text-align: center;
}

.home h2 {
  margin-bottom: 20px;
}

.ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ranking-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 120px;
  animation: bounce 2s infinite;
}

.ranking-1 {
  background-color: gold;
}

.ranking-2 {
  background-color: silver;
}

.ranking-3 {
  background-color: #cd7f32; /* Bronce */
}

.medal {
  font-size: 30px;
  margin-bottom: 10px;
}

.vendedor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.vendedor-name {
  font-size: 18px;
  font-weight: bold;
}

.vendedor-sales {
  font-size: 16px;
  margin-top: 5px;
}

.ranking-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #ff0;
  border-radius: 50%;
  animation: confetti 2s infinite;
}

.ranking-1::before {
  background-color: #ffd700; /* Gold */
}

.ranking-2::before {
  background-color: #c0c0c0; /* Silver */
}

.ranking-3::before {
  background-color: #cd7f32; /* Bronze */
}

/* Tabla de clientes y pagos */
.clientes-pagos-container {
  margin-top: 30px;
  text-align: center;
}

.clientes-title {
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.clientes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.clientes-table th,
.clientes-table td {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}

.clientes-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-transform: uppercase;
}

.clientes-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cliente-item-row {
  transition: background-color 0.2s ease;
}

.cliente-item-row:hover {
  background-color: #eef;
}

.cliente-nombre,
.cliente-dni,
.cliente-cuota,
.cliente-vendedor,
.cliente-fecha {
  text-transform: capitalize;
}

.cliente-atrasado {
  background-color: #ffcccc; /* Color rojo suave */
  color: #ff0000; /* Texto rojo */
}