.navbar-brand {
    font-family: "Griffy", system-ui;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.navbar .cart-container {
    position: relative;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.navbar .cart-link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #007bff;
}

.navbar .cart-badge {
    position: absolute;
    top: -9px;
    right: -12px;
    background-color: #007bff;
    color: white;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 15px;
}

.bg-light {
    margin: 10px;
    padding: 10px;
}

.navbar-text {
    display: flex;
    align-items: center;
}

.material-icons {
    cursor: pointer;
    margin-left: 8px;
}